<!DOCTYPE html>
<html>
 <div class="container"> 
  <head>
    <title>Bbq</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal"><%= link_to t('app.name'), root_path, class: 'navbar-brand' %></h5>
      <% if user_signed_in? %>
        <a class="m-1"> <%= link_to t('user.current_user'), current_user, class:"btn btn-info" %></a>
        <a class="m-1"> <%= link_to t('user.destroy_user_session_path'), destroy_user_session_path,
                method: :delete, class:"btn btn-warning"%></a>
      <% else %>
        <a class="m-1"><%= link_to t('user.sign_in'), new_user_session_path, class:"btn btn-outline-primary" %></a>
        <a class="m-1"> <%= link_to t('user.sign_up'), new_user_registration_path, class:"btn btn-primary"%></a>
    <% end %>
  </div>
  </head>

  <body>
    <div class="container main">
        <div class="row">
          <div class="col-md-12">
            <% flash.each do |name, message| %>
              <div class="alert <%= bootstrap_class_for(name) %>">
                <button class="close" data-dismiss="alert">&times;</button>
                <%= message %>
              </div>
            <% end %>
          </div>
        </div>

    <%= yield %>
  </body>

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <p>&copy; <%= t ('app.company') %> 2021</p>
  </footer>

  </div>
</html>
